body {
	font-family: Arial;
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	color: #333;
}
div {
	padding: 0;
	margin: 0;
	background-color: #fff;
}
#events {
	padding: 0;
	margin: 0;
	background-color: transparent;
}
.slide {
	height: 100vh;
	overflow: hidden;
	display: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
}
h1 {
	height: 12vh;
	vertical-align: middle;
	font-size: 5.8vh;
	width: 100%; 
	background-color: #000;
	margin: 0;
	padding: 0 4vw 0vh;
	text-align: left;
	text-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	color: #fff;
    -webkit-box-shadow: 0px 3px 4px 1px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 3px 4px 1px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 3px 4px 1px rgba(50,50,50,0.5);
}

.h1text {
	display: block;
	float: left;
	line-height: 12vh;
}

.logo {
	display: block;
	float: left;
	height: 10vh;
	padding: 0 0 0 0;
	margin: 1vh 0 1vh;
}

.event {
	height: 83vh;
	margin: 5vh 4vw 0;
	padding: 0;
	-webkit-box-shadow: 4px 4px 0px #b0b4b4;
	-moz-box-shadow: 4px 4px 0px #b0b4b4;
	box-shadow: 4px 4px 0px #b0b4b4;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.today {
	padding: 2vh 3vw;
	margin: 0;
	font-size: 8vh;
	font-weight: bold;
	color: #fff;
	background-color: #000;
}

.today+h2 {
	padding-top: 2vh;
}

h2 {
	font-size: 10vh;
	padding: 3vh 3vw 1vh;
	margin: 0;
	text-weight: normal;
	background-color: #fff;
	overflow: hidden;
}

.welcome {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.date, .time {
	font-size: 8vh;
	padding: 0 3vw;
}
.description {
	font-size: 6vh;
	margin: 1vh 0 0;
	padding: 0 3vw;
}
p {
	padding: 0 0 1vh;
	margin: 0;
}
img {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}
.fadeout {
    position: absolute; 
	padding: 0;
	margin: 0;
    bottom: 0em;
    width: 86vw;
    height: 10vh;
	background-color: transparent;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}